html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    margin-bottom: 35px;
}

footer {
    background: rgba(200, 200, 200);
    height: 25px;
    width: 100vw;
    font-size: min(max(12px, 1vw), 14px);
    opacity: 1;
}

.rojo {
    color: red;
}

.gris {
    color: gray;
}

.container-logo img {
    max-width: 100%;
    min-width: 350px;
    /* Ensures the image is not wider than its container */
    height: auto;
    /* Scales the image height to maintain its aspect ratio */
    object-fit: contain;
    /* Ensures the image fits within its box, maintaining aspect ratio */
}

.left {
    width: 50%;
    background-color: #f0f0f0;
    /* Light gray background */
    border-right: 2px solid #ccc;
    /* Border between left and right sections */
    box-sizing: border-box;
    /* Ensure border width is included in the width calculation */
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.upper-right,
.lower-right {
    height: 50%;
    background-color: #d0d0d0;
    /* Medium gray background */
    border-bottom: 2px solid #ccc;
    /* Border between upper and lower sections */
    box-sizing: border-box;
    /* Ensure border width is included in the height calculation */
}

img {
    max-width: 100%;
    height: auto;
}

.no-dec {
    text-decoration: none;
}

.boton {
    width: 40vh;
}

.check {
    fill: green;
}

.wrong {
    fill: red;
}

.h-20 {
    height: 20vh;
}

.h-60 {
    height: 60vh;
}

.editar {
    background-color: #58E8CD;
}

.volver {
    background-color: #619FFF;
}

#graph-container {
    padding: 20px;
    /* Optional: Add padding for space around the graph */
    margin-bottom: 20px;
    /* Optional: Add margin to separate from the book list */
    height: 100%;
    /* Fill the height of the container */
}

.book-cover-container {
    width: 72px;
    /* Set width for the book cover container */
    height: 110px;
    /* Set height for the book cover container */
    overflow: hidden;
    border-bottom-right-radius: 5px;
    /* Rounded corners for the book cover */
    border-top-right-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    /* Smooth transition for scaling */
}

.book-cover {
    width: 100%;
    /* Set book cover width to fill container */
    height: 100%;
    /* Set book cover height to fill container */
    transition: transform 0.3s ease;
    /* Smooth transition for scaling */
}

.main-container {
    border: 1px solid #ddd;
    /* Optional: Add border for better separation */
    border-radius: 4px;
    /* Optional: Add border radius for rounded corners */
    padding: 25px;
    /* Optional: Add padding for space around the graph */
    margin-bottom: 100px;
    /* Optional: Add margin to separate from the book list */
    padding-bottom: 40px;
    margin-left: 20px;
    margin-right: 0px;
}

.book-cover-container:hover {
    transform: scale(1.06);
    /* Scale up on hover */
}

.book-info {
    margin-top: 0.5rem;
    margin-left: 10px;
    padding-left: 10px;
    /* Add space between book cover and title */
}

#book-list {
    display: flex;
    /* Display books in a row */
    flex-wrap: wrap;
    /* Wrap books to the next row */
    justify-content: space-between;
    /* Space between books */
    padding: 0;
    /* Remove default padding */
    list-style: none;
    /* Remove default list style */
    margin-right: 20px;
}

.form-inputs {
    position: relative;
}

.form-inputs input[type="text"] {
    padding-right: 40px;
    /* Make space for the search icon */
}

.form-inputs .fa-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    /* Ensure the icon does not block input field clicks */
}

.form-inline .btn {
    margin-left: 20px;
    /* Add some space between the input and the button */
}

@media (max-width: 576px) {
    .form-inline input[type="search"] {
        width: calc(100% - 60px);
        /* Adjust the width for smaller screens */
    }
}

.rating {
    margin-top: 0.5rem;
}

.rating-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rating-stars {
    display: flex;
}

.rating-stars .star {
    font-size: 20px;
    color: #a7a1a1;
    cursor: pointer;
    transition: color 0.2s;
}

.rating-stars .star:hover,
.rating-stars .star.hovered,
.rating-stars .star.selected {
    color: #ffc107;
    /* Yellow color for hovered and selected stars */
}

.rating-container .bin-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rating-container .bin-icon i {
    transition: transform 0.5s ease;
}

.rating-container .bin-icon:hover i {
    transform: rotate(-25deg);
    /* Simulates the bin opening */
}

.bin-icon-hover {
    color: #a7a1a1;
}

.bin-icon-hover:hover {
    color: tomato;
}

img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}