{% extends "base_generic.html" %}

{% block title %}
XBRecs
{% endblock %}

{% block content %}
<div class="overflow-auto main-container" style="margin-right: 20px;">
  <div class="p-3 text-left">
    <h1 class="text-info">
      XBRecs, un recomendador de libros explicable.
    </h1>
    <h4>
      XBRecs es un recomendador de libros que te permite descubrir nuevos libros basándose en las descripciones de
      aquellos libros que hayas disfrutado. Además, te explicamos visualmente por qué te recomendamos cada libro.
    </h4>

    {% if user.is_authenticated %}
    <!-- <br>
    <h4>Puedes visitar <a href="{% url 'profile' %}" class="nav-link text-secondary">tu perfil</a> para recordar qué
      libros has leído.</h4> -->
    <div class="container mt-4 text-center">
      <div class="row mt-4">
        <div>
          <p class="mt-2"><strong>Número de libros a recomendar:</strong> <span id="book-count">5</span></p>
          <input type="range" class="custom-range" style="width: 15%;" min="1" max="15" value="5"
            oninput="updateBookCount(this.value)">
        </div>
      </div>
      <div class="row mt-4">
        <div>
          <a class="btn bg-light border border-dark rounded mt-2 boton" href="{% url 'recommend' count=5 %}"
            id="recommend-link">
            Obtener recomendaciones
          </a>
        </div>
      </div>
      <!-- <div class="row mt-4">
        <div>
          <a class="btn bg-light border border-dark rounded mt-2 boton" href="{% url 'profile' %}">
            Mostrar libros leídos
          </a>
        </div>
      </div> -->
      <div class="row mt-4">
        <div>
          <a class="btn bg-light border border-dark rounded mt-2 boton" href="{% url 'discover' %}">
            Descubrir y añadir nuevos libros
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="mt-4">
      <h3 class="text-info">
        Here are your last five questionnaires:
        </h1>
        <div class="row w-70 col-sm-6 mx-auto mt-3 overflow-auto lista-cuestionarios">
          {% for q in latest_questionnaire_list %}
          <div class="card mb-2 bg-light">
            <div class="card-body row justify-content-between align-items-center">
              <div class="text-center">
                <a href="{% url 'questionnaire-detail' pk=q.id %}" class="card-title p-1 no-dec">
                  {{ q.title }}
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div> -->
    {% else %}
    <div class="container mt-4 text-center">
      <a href="{% url 'signup' %}" class="btn btn-primary">
        ¿Quieres descubrir nuevos libros? Regístrate aquí.
      </a>
    </div>
    {% endif %}
  </div>
</div>
<script>
  function updateBookCount(value) {
    document.getElementById('book-count').textContent = value;
    document.getElementById('recommend-link').href = "{% url 'recommend' count=5 %}".replace('5', value);
  }
</script>
{% endblock %}

<div class="ml-2">
  <label for="book-slider">Recomendaciones: <span id="book-count">5</span></label>
  <input type="range" min="1" max="15" value="5" class="slider" id="book-slider" oninput="updateBookCount(this.value)"
    style="width: 15%;">
</div>