{% extends 'base_generic.html' %}

{% block title %}
Descubrir libros
{% endblock %}

{% block content %}
<div class="overflow-auto main-container" style="margin-right: 20px;">
  <h3 class="text-info">
    Busca libros para descubrir nuevas lecturas
  </h3>
  <form action="{% url 'search' %}" method="get" class="form-inline d-flex align-items-center mb-4">
    <input name="q" id="search-input" class="form-control mr-sm-2" type="search" style="width: 70%;"
      placeholder="Buscar libros..." aria-label="Buscar">
    <button class="btn btn-outline-success ml-2" type="submit">Buscar</button>
  </form>

  <div class="row">
    {% for book in books %}
    <div class="col-md-6 mb-4">
      <div class="d-flex align-items-center">
        <div class="book-cover-container mr-3">
          <a href="{% url 'book-detail' book_id=book.id %}">
            <img src="{{ book.cover }}" alt="{{ book.title }}" class="book-cover">
          </a>
        </div>
        <div style="margin-left: 20px;">
          <a href="{% url 'book-detail' book_id=book.id %}" class="nav-link text-secondary">
            <h4>{{ book.title }}</h4>
          </a>
          <p class="text-muted mb-1">
            {{ book.authors.all.0.name }} · {{ book.year }}
          </p>
          {% if book.description %}
          <p class="mb-1" style="max-height: 60px; overflow: hidden;">
            {{ book.description|truncatewords:25 }}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <p>Aún no hay libros en la base de datos. Ejecuta `make populate`.</p>
    {% endfor %}
  </div>
  {% include "includes/pagination.html" %}
</div>
{% endblock %}
