html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    margin-bottom: 35px;
}

footer {
    background: rgba(200, 200, 200);
    height: 25px;
    width: 100vw;
    font-size: min(max(12px, 1vw), 14px);
    opacity: 1;
}

.rojo {
    color: red;
}

.gris {
    color: gray;
}

.container-logo {
    max-width: 55vh;
    min-width: 300px;
}

/* .container {
    display: flex;
    height: 100%;
} */
.left {
    width: 50%;
    background-color: #f0f0f0;
    /* Light gray background */
    border-right: 2px solid #ccc;
    /* Border between left and right sections */
    box-sizing: border-box;
    /* Ensure border width is included in the width calculation */
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.upper-right,
.lower-right {
    height: 50%;
    background-color: #d0d0d0;
    /* Medium gray background */
    border-bottom: 2px solid #ccc;
    /* Border between upper and lower sections */
    box-sizing: border-box;
    /* Ensure border width is included in the height calculation */
}

img {
    max-width: 100%;
    height: auto;
}

.no-dec {
    text-decoration: none;
}

.boton {
    width: 40vh;
}

.lista-cuestionarios {
    max-height: 40vh;
}

@media screen and (orientation: landscape) {
    .ques-list {
        max-height: 60vh;
        width: 75%;
    }

    .question-button {
        width: 30%;
    }
}

@media screen and (orientation: portrait) {
    .ques-list {
        max-height: 60vh;
        width: 90%;
    }

    .question-button {
        width: 100%;
    }
}

.question-list {
    height: 35vh;
}

.check {
    fill: green;
}

.wrong {
    fill: red;
}

.fondo {
    /* background-image: url("img/fondo.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.h-20 {
    height: 20vh;
}

.h-60 {
    height: 60vh;
}

#participants {
    height: 35vh;
    overflow: auto;
    margin: auto;
}

.participante {
    display: inline;
    width: 100px;
}

.respuesta {
    font-size: min(max(16px, 3.5vw), 22px);
    height: 27vh;
}

.editar {
    background-color: #58E8CD;
}

.volver {
    background-color: #619FFF;
}

/* .vis-network canvas {
    pointer-events: none;
} */

#graph-container {
    padding: 20px;
    /* Optional: Add padding for space around the graph */
    margin-bottom: 20px;
    /* Optional: Add margin to separate from the book list */
    height: 100%;
    /* Fill the height of the container */
}

.book-cover-container {
    width: 72px;
    /* Set width for the book cover container */
    height: 110px;
    /* Set height for the book cover container */
    overflow: hidden;
    border-bottom-right-radius: 5px;
    /* Rounded corners for the book cover */
    border-top-right-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    /* Smooth transition for scaling */
}

.book-cover-container-big {
    width: 144px;
    /* Set width for the book cover container */
    height: 220px;
    /* Set height for the book cover container */
    overflow: hidden;
    border-bottom-right-radius: 20px;
    /* Rounded corners for the book cover */
    border-top-right-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    /* Smooth transition for scaling */
}

.book-cover {
    width: 100%;
    /* Set book cover width to fill container */
    height: 100%;
    /* Set book cover height to fill container */
    transition: transform 0.3s ease;
    /* Smooth transition for scaling */
}

.book-cover-big {
    width: 300%;
    /* Set book cover width to fill container */
    height: 300%;
    /* Set book cover height to fill container */
    transition: transform 0.3s ease;
    /* Smooth transition for scaling */
}

.main-container {
    border: 1px solid #ddd;
    /* Optional: Add border for better separation */
    border-radius: 4px;
    /* Optional: Add border radius for rounded corners */
    padding: 25px;
    /* Optional: Add padding for space around the graph */
    margin-bottom: 100px;
    /* Optional: Add margin to separate from the book list */
    padding-bottom: 40px;
    margin-left: 20px;
    margin-right: 0px;
}

.book-cover-container:hover {
    transform: scale(1.06);
    /* Scale up on hover */
}

.book-info {
    margin-top: 0.5rem;
    margin-left: 10px;
    padding-left: 10px;
    /* Add space between book cover and title */
}

#book-list {
    display: flex;
    /* Display books in a row */
    flex-wrap: wrap;
    /* Wrap books to the next row */
    justify-content: space-between;
    /* Space between books */
    padding: 0;
    /* Remove default padding */
    list-style: none;
    /* Remove default list style */
    margin-right: 20px;
}

.form-inputs {
    position: relative;
}

.form-inputs input[type="text"] {
    padding-right: 40px;
    /* Make space for the search icon */
}

.form-inputs .fa-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    /* Ensure the icon does not block input field clicks */
}

.form-inline .btn {
    margin-left: 20px;
    /* Add some space between the input and the button */
}

@media (max-width: 576px) {
    .form-inline input[type="search"] {
        width: calc(100% - 60px);
        /* Adjust the width for smaller screens */
    }
}

.rating {
    margin-top: 0.5rem;
}

.rating-stars {
    display: flex;
}

.rating-stars .star {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
}

.rating-stars .star:hover,
.rating-stars .star.hovered,
.rating-stars .star.selected {
    color: #ffc107;
    /* Yellow color for hovered and selected stars */
}

img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}